/* GENERICS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILS */

/* STRUCTURE */
#grid {
  width: 1000px;
  height: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  aspect-ratio: 1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ten {
  width: 10%;
}

.nine {
  width: calc(100% / 9);
}

.seven {
  width: calc(100% / 7);
}

.color-click {
  background-color: aqua;
}

.bomb {
  background-color: red;
}
